NEXT_PUBLIC_API_URL=http://localhost:4000

# --- Demo credentials (admin panel) ---
NEXT_PUBLIC_DEMO_ADMIN_EMAIL=admin@healhub.com
NEXT_PUBLIC_DEMO_ADMIN_PASSWORD=Admin@123
NEXT_PUBLIC_DEMO_HOSPITAL_EMAIL=hospital@healhub.com
NEXT_PUBLIC_DEMO_HOSPITAL_PASSWORD=Hospital@123
NEXT_PUBLIC_DEMO_DOCTOR_EMAIL=doctor@healhub.com
NEXT_PUBLIC_DEMO_DOCTOR_PASSWORD=Doctor@123